   
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
					<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Villa<span class="caret"></span></a>
					<ul class="dropdown-menu">
                                <li><a ui-sref="app.saldo">Saldo</a></li>
								<li><a ui-sref="app.player">Player</a></li>
								<li><a ui-sref="app.sisestamine">Nõude sisestamine</a></li>
								<li><a ui-sref="app.sulalaekumine">Sula Laekumine</a></li>
								<li><a ui-sref="app.sulamakse">Sula Makse</a></li>
								<li><a ui-sref="app.kokku">Kokkuvõte</a></li>
								<li><a ui-sref="app.kontroll">Kontroll</a></li>
								<li><a ui-sref="app.sulaliikumised">Sula liikumised</a></li>
								<li><a ui-sref="app.pangaliikumised">Panga liikumised</a></li>
								</ul>
					</li>

                </ul>
            </div>
        </div>
    </nav>         
               
    <header class="jumbotron">

        <!-- Main component for a primary marketing message or call to action -->

        <div class="container">
            <div class="row row-header">
                <div class="col-xs-12 col-sm-8">

                </div>
                <div class="col-xs-12 col-sm-2">
                <p style="padding:20px;"></p>
                </div>
                <div class="col-xs-12 col-sm-2">
                </div>
            </div>
        </div>
    </header>